* {
  margin: 0;
  padding: 2px;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('background.png') no-repeat center center fixed;
  background-size: 100% 100%; /* Fill the entire width and height without cropping */
  background-position: center; /* Center the background image */
  color: #fff;
  font-family: 'Roboto', sans-serif;
  position: relative;
}

  

/* Position elements for each chart */
/* #chart1 {
  position: absolute;
  top: 20px;
  left: 20px;
}

#chart2 {
  position: absolute;
  top: 225px;
  left: 0px;
} */

/* #chart3 {
  position: absolute;
  top: 50%;
  left: 20px;
}

#chart4 {
  position: absolute;
  top: 50%;
  left: -50px;
} */
/* 
#chart5 {
  position: absolute;
  top: 26%;
  right: -4px;
}

#chart6 {
  position: absolute;
  top: 75%;
  left: 20px;
}

#chart7 {
  position: absolute;
  top: 75%;
  right: -2px;
} */

.chart {
  width: 100%; /* Set width dynamically to occupy 50% of container */
  min-width: 300px; /* Set minimum width to maintain readability */
  padding: 0.5rem;
  margin-top: 10px;
  border: 4px solid rgba(70, 131, 120, 1);
  border-radius: 10px; /* Add unit to border-radius */
  background: #000;
  display: inline-block;
}

#vramChart {
  width: 50%;
  height: 50%;
}

.chart::before {
  bottom: 11%;
  left: 7.4%;
  width: 1.5px;
  height: 77%;
  transform: translateX(-50%);
}

.chart::after {
  top: 89%;
  left: 7.3%;
  width: 90%; /* Adjust the width to control the length of the x-axis */
  height: 1.5px;
  transform: translateY(-50%);
}

/* .chart:hover {
  transform: scale(1.1);
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.8);
} */

.chart.clicked {
  transform: scale(2);
  z-index: 2;
}

.chart canvas {
    width: 100%; 
    height: 100%;
}

/* styles.css */
.chart2{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  margin-top: 5px;
}

#cpu-waffle-chart {
  display: grid;
  grid-template-columns: repeat(37, 20px);
  grid-template-rows: repeat(8, 20px);
  gap: 2px;
}
#ram-waffle-chart {
  display: grid;
  grid-template-columns: repeat(37, 20px);
  grid-template-rows: repeat(8, 20px);
  gap: 2px;
}

.square {
  width: 20px;
  height: 20px;
  background-color: lightgray;
  transition: background-color 0.3s;
}

.waffle-chart-container {
  position: relative;
  display: inline-block;
}

.waffle-chart {
  display: grid;
  grid-template-columns: repeat(45, 10px); /* Adjust square size */
  grid-gap: 1px;
}

.x-axis-labels {
  display: flex;
  justify-content: space-between;
  width: 800px; /* Adjust width based on the total number of squares and their size */
  margin-top: 2px;
  float: inline-end;;
}

.x-axis-labels div {
  width: 10px; /* Adjust label width if necessary */
  text-align: center;
  font-size: 12px;
  color: #fff;
}
#y-axis-label {
  writing-mode: horizontal-tb;
  margin-right: 10px;
  font-size: 16px;
  font-weight: normal;
  color: #fff;
}   
